<div class="schedule-image shadow" [ngStyle]="{'background-image': 'url('+ scheduleShow.show.image?.original +')'}">
    <div class="schedule-inner">
        <div class="schedule-body"
            (click)="onShowDetailed(scheduleShow)"
        >
            <div class="schedule-top-line">{{scheduleShow.airdate | date}} at {{scheduleShow.airtime}}</div>
            <div class="schedule-subtitle">{{scheduleShow.name}}</div>
            <div class="schedule-paragraph" [innerHtml]="scheduleShow.summary"></div>
        </div>
    </div>
</div>