<!-- <div class="page">
  <div class="header row">
    <div>
      <img src="" alt="logo" class="logo">
    </div>
    <div class="menu">
      <button class="menu-button">
        Menu
      </button>
    </div>
  </div>
  <div class="timetable">
    <h2>
      Timetable
    </h2>
  </div>
  <div class="recomendation row">
    <h2>
      Recomendation
    </h2>
  </div>
  <div class="last-shows">
    <ul class="last-shows-list row">
      <li *ngFor="let lastShow of lastShows">
        <div class="show">

        </div>
      </li>
    </ul>
  </div>
  <div class="random-shows">
    <ul class="random-show-lists" *ngFor="let showList of randomShowsLists">
      <li class="random-show-list row" *ngFor="let show of showList">
        <div class="show"></div>
      </li>
    </ul>
  </div>
</div> -->