.r-block {
    width: 100%;
    height: 295px;
    background-color: rgb(37, 36, 36);
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}
.info {
    margin: 10px;
}

.show-summary {
    margin: 30px;
}